html, 
body {
  height: 100%;
  min-width: 800px;
}

#root {
  height: 100%;
  max-height: 100%;  
}

.button-danger {
  border-color: #e85600!important;
  color: #e85600!important;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.flash-messages {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
}

.flash-messages > * {
  margin: 0.5em 0;
}

.header-area {
  flex: 0 0;
}

.header-row {
  padding: 0.5em;
  background-color: #1EA896;
  color: white;
}

.app-titlebar {
  padding: 0.5rem 0;
}

.app-titlebar h1, 
.app-titlebar h2, 
.app-titlebar h3, 
.app-titlebar h4, 
.app-titlebar h5 {
  margin-bottom: 0;
}

.app-titlebar h5 {
  font-weight: bold;
}

.divider.no-bottom-margin {
  margin-bottom: 0;
}

.divider.no-top-margin {
  margin-top: 0;
}

.not-connected-placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  margin: auto;
  text-align: center;
}

.load-more {
  margin-top: 1em;
}

.center .load-more-button {
  display: inline-block;
  margin: 0.5rem 0;
  background-color: transparent;
}

.app-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.channel-settings-container {
  margin: 0.5em 0.5em 0 0.5em;
}

.channel-settings {
  padding: 0 0 0.5em 0;
  align-items: flex-end;
}

.channel-selector button {
  line-height: 100%;
  vertical-align: middle;
}

.channel-selector button > svg {
  position: relative;
  top: 2px;
  left: 1px;
}

.channel-selector button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}

.messages-area {
  flex: 1 1;
  overflow: scroll;
  background-color: #f7f8f9;
}

.write-area {
  flex: 0 0;
  margin: 0.5em .5em 1em 0.5em;
}

.chat-message .card {
  background-color: #4C5454;
  color: white;
  margin: 0.5em 0; 
  border-radius: 0.5rem;
}

.chat-message .card.owner {
  background-color: #1EA896;
  border-color: #f0f0f0;
  color: white;
}

.chat-message .card.operator {
  background-color: #FF715B;
  border-color: #ffe0e0;
  color: white;
}

.chat-message textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.chat-message .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.5rem;
}

.chat-message .nickname {
  margin-left: 0.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.chat-message .menu {
  min-width: 100px;
}

.chat-message .menu-button {
  cursor: default;
  font-weight: bold;
  margin-right: 0.5rem;
}

.chat-message .menu-button a:focus {
  text-decoration: none;
  box-shadow: none;
}

.message-menu .item {
  cursor: default;
}

.message-menu {
  position: relative;
}

.message-menu .click-area {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 800px;
  height: 800px;
  z-index: 2;
  background-color: transparent;
  display: none;
}

.message-menu.visible .click-area {
  display: block;
}

.message-menu .card {
  display: none;
  position: absolute;
  border: 1px solid #dadee4;
  box-shadow: 0 0.2rem 0.5rem rgb(48 55 66 / 10%);
  background-color: white !important;
  border-radius: 0;
  z-index: 100;
}

.message-menu .card-body {
  box-shadow: none;
  padding-top: 0;
  border-radius: 0;
}

.message-menu:not(.right) .card {
  left: 0;
}

.message-menu.right .card {
  right: 0;
}

.message-menu.visible .card {
  display: block;
}

.message-menu .card-body {
  padding: 0.5rem;
}

.write-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}


.modal-container {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}

.modal-container .modal-header {
  padding-bottom: 0.3em;
}

.modal-container .modal-footer.has-custom-footer-content {
  padding-top: 0;
}

.modal-container .modal-body {
  padding-bottom: 0;
}

.modal-lg .modal-container .modal-header {
  padding: 0.8rem 0 0.4rem 0;
}

.modal-lg .modal-container .modal-body {
  padding-left: 0;
  padding-right: 0;
}

.modal-lg .modal-container .modal-footer {
  padding: 0.4rem 0 0.8rem 0;
}

ul.edit-list {
  width: 100%;
  list-style: none;
  margin: 0;
}

.edit-list li {
  width: 100%;
  max-width: 100%;
  margin: 0.5em 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.edit-list li.add {
  margin: 1em 0 0 0;
}

ul.edit-channels-add {
  margin-bottom: 1rem;
}

.edit-list li.add .action {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.edit-list li.add .form-group:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.4rem;
}

li.add.n-fields-2 .value {
  display: flex;
  flex-direction: row;
}

li.add.n-fields-2 .value > * {
  flex: 1 0;
}

.edit-list li .value {
  padding-left: 0.25em;
}

.edit-list li > :not(.action) {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5em;
}

.edit-list li > .nickname {
  flex: 1 1;
}

.edit-list li > .name {
  flex: 0.33 0.33;
}

.edit-list li > .url {
  flex: 0.67 0.67;
}

.edit-list li > .action {
  width: 5em;
  text-align: center;
  flex: 0 0;
}

.edit-list li .action button {
  width: 100%;
}